:root {
    --clr-primario: #020F59; 
    --clr-secundario: #023373; 
    --clr-terciario: #03588C; 
    --clr-complementario: #3C7DA6; 
    --clr-complementarioDos: #BDBFBF; 
    --clr-white: #ffffff;
    --clr-black: #000000;  

    --clr-extra: #1c1d25; 

    --font-size-small: 12px; 
    --font-size-medium: 16px; 
    --font-size-tall: 18px; 
    --font-size-title: 24px; 


}
* {
    margin: 0;
    padding: 0;box-sizing: border-box;
}
html {
    font-size: 62.5%;
}

body {
    font-family: 'Merriweather', serif;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}

img {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    object-fit: cover;
}

section{
    background-color: var(--clr-white)
}

.hero {
    background-color: var(--clr-extra);
    height: 100vh;
    color: var(--clr-white);
    font-size: 4rem; 
}
nav {
    display: flex;
    justify-content: space-between;
}
.logo {
    width: 3rem;
    height: 8rem;
}
ul {
    display: flex;
    list-style-type: none;
    width: 50rem;
    justify-content: space-around;
    font-size: 3rem;
}
h1 {
    font-size: 9rem;
    margin: 0;
}
h2 {
    font-size: 5rem;
}
p {
    margin: 0;
    font-size: 3rem;
    font-weight: 300;
}
.subtext {
    font-size: 1.5rem;
    font-weight: 300;
}
.hero-area {
    display: flex;
    height: 100%; 
    justify-content: space-between;
    align-items: center;
}
.hero-text {
    margin-left: 8rem;
    margin-bottom: 20rem;
}
.button {
    width: 20rem;
    height: 5.5rem;
    border-radius: 3rem;
    background-color: var(--clr-complementario);
    text-align: center;
    font-size: 3rem; 
    padding-top: .5rem;
    margin-top: 2rem;
    font-weight: 300;
    cursor: pointer;
}
.button:hover {
    background-color: var(--clr-terciario);
}
.button:active {
    background-color: var(--clr-secundario);
    color: var(--clr-white);
}
.socials {
    padding-bottom: 20rem;
}
.social {
    margin: 20px;
}

.sub-section {
    display: flex;
    justify-content: space-between;
    padding: 8rem;
}
.headshot-container {
 display: flex;
 align-items: center;
}
.headshot{
 width: 30rem;
 border-radius: 150px;
 margin-left: 8rem;
}